[submodule "mysite/zenshu"]
	path = mysite/zenshu
	url = git@github.com:lxdiyun/zenshu.git
[submodule "mysite/django-daterange-filter"]
	path = mysite/django-daterange-filter
	url = https://github.com/DXist/django-daterange-filter.git
